@font-face {
  font-display: swap;
  font-family: Manrope;
  font-style: normal;
  font-weight: 200;
  src: url("/fonts/manrope-v20-latin-200.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: Manrope;
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/manrope-v20-latin-300.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: Manrope;
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/manrope-v20-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/manrope-v20-latin-500.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/manrope-v20-latin-600.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: Manrope;
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/manrope-v20-latin-700.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/manrope-v20-latin-800.woff2") format("woff2");
}
/* nunito-regular - cyrillic */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/nunito-v32-cyrillic-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* nunito-500 - cyrillic */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/nunito-v32-cyrillic-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* nunito-600 - cyrillic */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/nunito-v32-cyrillic-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* nunito-700 - cyrillic */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/nunito-v32-cyrillic-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
