@import "tailwindcss";
@plugin "daisyui";
@import "./css/global.css";
@import "./css/fonts.css";

.container {
  @apply w-full max-w-7xl mx-auto px-4;
}
.second__container {
  @apply w-full max-w-310 mx-auto px-6;
}
.active {
  @apply text-[#0b9c8d] border-[#4b4b4d];
}

/*ABOUT*/
.title {
  @apply inline-block font-semibold  py-2 px-3 border-dashed border-2 border-[#4b4b4d] rounded-2xl uppercase lg:text-2xl mb-10 hover:border-[#0b9c8d] hover:shadow-xl shadow-[#0b9c8d] transition-all;
}
